.inner-cursor {
  position: fixed;
  left: 10px;
  width: 10px;
  height: 10px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
  transition: transform 0.3s, width 0.3s, height 0.3s;
  /* Corrigido e ajustado para 300ms */
  z-index: 10;
}

.inner-cursor.grow {
  width: 50px;
  height: 50px;
  transition: transform 0.3s, width 0.3s, height 0.3s;
  /* Corrigido e ajustado para 300ms */
}

.inner-cursor.enlarged {
  width: 400px;
  height: 400px;
  transition: transform 0.3s, width 0.3s, height 0.3s;
  /* Corrigido e ajustado para 300ms */
}

.outer-cursor {
  position: fixed;
  left: 10px;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  mix-blend-mode: difference;
  border: 1px solid #fff;
  border-radius: 50%;
  pointer-events: none;
  transition: transform 0.3s, width 0.3s, height 0.3s;
  /* Corrigido e ajustado para 300ms */
  z-index: 10;
}

/* Cursor de Coração apenas para as páginas românticas */
.romantic-mode .outer-cursor {
  border-radius: 0;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  background-color: #fff;
  mix-blend-mode: difference;
  clip-path: path('M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z');
  transform: translate(-50%, -55%) scale(1.7);
  width: 24px;
  height: 24px;
}


.hide-cursor .inner-cursor,
.hide-cursor .outer-cursor {
  display: none;
}