.inner-cursor {
  position: fixed;
  left: 10px;
  width: 10px;
  height: 10px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
  transition: transform 0.3s, width 0.3s, height 0.3s;
  /* Corrigido e ajustado para 300ms */
  z-index: 10;
}

.inner-cursor.grow {
  width: 50px;
  height: 50px;
  transition: transform 0.3s, width 0.3s, height 0.3s;
  /* Corrigido e ajustado para 300ms */
}

.inner-cursor.enlarged {
  width: 400px;
  height: 400px;
  transition: transform 0.3s, width 0.3s, height 0.3s;
  /* Corrigido e ajustado para 300ms */
}

.outer-cursor {
  position: fixed;
  left: 10px;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  mix-blend-mode: difference;
  border: 1px solid #fff;
  border-radius: 50%;
  pointer-events: none;
  transition: transform 0.3s, width 0.3s, height 0.3s;
  /* Corrigido e ajustado para 300ms */
  z-index: 10;
}

.hide-cursor .inner-cursor,
.hide-cursor .outer-cursor {
  display: none;
}